* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: large;
}

body {
  background-color: rgb(0, 0, 0);
  color: #f5f5f5;
  padding: 0 12px;
}

ul.header-items {
  display: flex;
  justify-content: space-evenly;
  padding: 12px 3rem;
  align-items: baseline;
  color: #a8fd16;
}

li {
  list-style: none;
  font-size: 15px;
}

.logo-div {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
  color: #ea445a;
}

nav {
  border-bottom: 2px solid #66fdfb;
  box-shadow: 0 0 5px #66fdfb;
}

.featured-counter {
  text-decoration: underline;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #74f0ed;
  box-shadow: 0 0 5px #66fdfb;
  width: 25%;
}

.card img {
  height: 40vh;
}

img,
p {
  padding: 5px;
}

button {
  background-color:#a8fd16;
  box-shadow: 3px 3px;
  padding: 2.5px 10px;
  transition: all 300ms linear;
  width: fit-content;
  margin: 5px;
}

footer {
  border-top: 2px solid #74f0ed;
  box-shadow: 0 0 5px #66fdfb;
  margin-top: 9rem;
}

footer p {
  padding: 2rem;
}

#commentPopup {
  display: none;
  position: absolute;
  justify-content: center;
  backdrop-filter: blur(7px);
  width: 100vw;
  height: 100vh;
}

.popupImg {
  height: 70vh;
}
